        body {
            /* max-width: 1280px; */
            /* width: 1280px; */
            /* display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; */
            margin: 0;
            padding: 0;
        }
        
        *,
        *::before,
        * ::after {
            box-sizing: border-box;
        }
        
        h1,
        h2,
        h3 {
            margin: 0;
            padding: 0;
        }
        
        .cozy-background {
            /* background-image: url(assets/images/header-background2.png); */
            background-image: url(assets/images/header-background.png);
            /* width: 1280px; */
            width: 100%;
            height: 908px;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: relative;
        }
        
        .header-puppy {
            width: 698px;
            height: 728px;
            background-image: url(assets/images/header-puppy.png);
            /* position: absolute;
        top: 180px;
        right: 40px; */
            margin-top: 60px;
        }
        
        .cozy-navigation {
            margin-top: 60px;
            max-width: 1200px;
            width: 1200px;
            height: 60px;
            /* background-color: red; */
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 1;
        }
        
        .burger {
            display: none;
        }
        
        .cozy-logo {
            width: 186px;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .logo-text {
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 110%;
            letter-spacing: 0.06em;
            color: #F1CDB3;
            padding: 0;
            margin: 0;
            margin-top: 1px;
        }
        
        .logo-description {
            padding: 0;
            margin: 0;
            margin-left: 4px;
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
        }
        
        .cozy-nav-list {
            padding: 0;
            margin: 0;
            width: 443px;
            height: 27px;
            /* background-color: green; */
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
        }
        
        .cozy-nav-item {
            list-style-type: none;
        }
        
        .cozy-nav-item a:hover {
            color: #FAFAFA;
        }
        
        .cozy-nav-item:first-child {
            border-bottom: 3.5px solid #F1CDB3;
        }
        
        .cozy-nav-item:first-child a {
            color: #FAFAFA;
        }
        
        .cozy-nav-item a {
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 160%;
            color: #CDCDCD;
            text-decoration: none;
            /* padding-bottom: 3px; */
        }
        
        .cozy-wrapper {
            width: 1200px;
            display: flex;
        }
        
        .cozy-text-block {
            width: 460px;
            /* height: 321px; */
            /* background-color: lightblue; */
            align-self: flex-start;
            margin-top: 223px;
            margin-right: 43px;
        }
        
        .cozy-text-header {
            width: 89%;
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 44px;
            line-height: 130%;
            color: #FFFFFF;
            margin-bottom: 42px;
        }
        
        .cozy-text-description {
            margin: 0;
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 160%;
            color: #CDCDCD;
            margin-bottom: 42.1px;
        }
        
        .cozy-text-btn {
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #292929;
            background-color: #F1CDB3;
            outline: none;
            border: none;
            border-radius: 100px;
            width: 207px;
            height: 52px;
            border-radius: 100px;
            cursor: pointer;
            margin-left: 0.5px;
        }
        
        .cozy-text-btn:hover {
            background-color: #FDDCC4;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
        }
        
        .about-section {
            /* max-width: 1920px; */
            width: 100%;
            height: 588px;
            background-color: #FFFFFF;
            display: flex;
            justify-content: center;
            /* align-self: center; */
        }
        
        .vis-hidden {
            display: none;
        }
        
        .about-article {
            width: 1200px;
            height: 408px;
            /* background-color: lightgreen; */
            display: flex;
            margin-top: 95px;
        }
        
        .about-article-text {
            width: 430px;
        }
        
        .about-article img {
            /* margin-right: 139px; */
            margin-top: -15px;
            margin-left: 175px;
            margin-right: 120px;
        }
        
        .article-text-header {
            width: 90%;
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #545454;
            margin-bottom: 24px;
        }
        
        .article-text-description {
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 160%;
            color: #4C4C4C;
            margin: 0;
        }
        
        .text1 {
            margin-bottom: 25px;
        }
        
        .our-friends-section {
            width: 100%;
            height: 877px;
            background-color: #F6F6F6;
            display: flex;
            justify-content: center;
        }
        
        .our-friends-article {
            width: 1200px;
            height: 697px;
            /* background-color: lightgreen; */
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        
        .our-friends-article-header {
            width: 400px;
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            text-align: center;
            color: #545454;
            margin-bottom: 60px;
            margin-top: 1px;
            margin-left: 2px;
        }
        
        .slider {
            width: 100%;
            height: 435px;
            /* background-color: lightblue; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -1px;
            margin-bottom: 60px;
        }
        
        .slider-item-wrapper {
            width: 990px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .slider-item {
            width: 270px;
            height: 435px;
            background-color: #FAFAFA;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
        
        .slider-item:hover {
            background-color: #FFFFFF;
            transition: all 0.3s;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
        }
        /* .slider-item img {
    margin-top: 30px;
} */
        
        .slider-item-header {
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.06em;
            color: #545454;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 1px;
        }
        
        .switch {
            width: 52px;
            height: 52px;
            border: 2px solid #F1CDB3;
            outline: none;
            cursor: pointer;
            background-color: transparent;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
            position: relative;
        }
        
        .switch::before {
            content: "";
            display: block;
            position: absolute;
            top: 23px;
            left: 17px;
            width: 14px;
            border-top: 2px solid #292929;
        }
        
        .switch:first-child::after {
            content: "";
            display: block;
            position: absolute;
            top: 22px;
            left: 18px;
            width: 4px;
            height: 4px;
            border-top: 1px solid #292929;
            border-left: 1px solid #292929;
            transform: rotate(-42deg);
            -webkit-transform: rotate(-42deg);
            -moz-transform: rotate(-42deg);
            -ms-transform: rotate(-42deg);
            -o-transform: rotate(-42deg);
        }
        
        .switch:last-child::after {
            content: "";
            display: block;
            position: absolute;
            top: 22px;
            right: 18px;
            width: 4px;
            height: 4px;
            border-top: 1px solid #292929;
            border-left: 1px solid #292929;
            transform: rotate(134deg);
            -webkit-transform: rotate(134deg);
            -moz-transform: rotate(134deg);
            -ms-transform: rotate(134deg);
            -o-transform: rotate(134deg);
        }
        
        .switch:hover {
            background-color: #FDDCC4;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
        }
        
        .slider-item-btn {
            width: 187px;
            height: 52px;
            border: 2px solid #F1CDB3;
            background-color: transparent;
            box-sizing: border-box;
            border-radius: 100px;
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #292929;
            cursor: pointer;
            outline: none;
        }
        
        .slider-item-btn:hover {
            background-color: #FDDCC4;
            transition: all 0.3s;
        }
        
        .our-friends-btn {
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #292929;
            background-color: #F1CDB3;
            outline: none;
            border: none;
            border-radius: 100px;
            width: 261px;
            height: 52px;
            border-radius: 100px;
            cursor: pointer;
            margin-left: 1px;
        }
        
        .our-friends-btn:hover {
            background-color: #FDDCC4;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
        }
        
        .help-section {
            width: 100%;
            height: 611px;
            background-color: #FFFFFF;
            /* background-color: red; */
            display: flex;
            justify-content: center;
        }
        
        .help-article {
            width: 1200px;
            height: 431px;
            /* background-color: lightgreen; */
            margin-top: 80px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
        }
        
        .help-article-header {
            width: 310px;
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            margin-top: 1px;
            margin-left: 2px;
            margin-bottom: 60px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0.06em;
            color: #545454;
        }
        
        .help-article-needs {
            width: 1026px;
            height: 281px;
            /* background-color: lightblue; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .help-article-needs-hidden-768 {
            display: none;
        }
        
        .needs-items-wrapper {
            width: 100%;
            display: flex;
        }
        
        .needs-items-wrapper:first-child {
            justify-content: space-between;
        }
        
        .needs-items-wrapper:last-child {
            width: 857px;
            justify-content: space-between;
            align-self: center;
        }
        
        .needs-item {
            height: 113px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: -1px;
            position: relative;
        }
        
        .needs-items-wrapper:first-child .needs-item:nth-child(4) {
            width: 153px;
        }
        
        .needs-items-wrapper:first-child .needs-item:last-child {
            width: 102px;
        }
        
        .needs-items-wrapper:last-child .needs-item:nth-child(3) {
            width: 165px;
        }
        
        .needs-items-wrapper:last-child .needs-item:last-child {
            width: 143px;
        }
        
        .needs-items-wrapper:first-child .needs-item:nth-child(2) img {
            margin-left: -2px;
        }
        
        .needs-items-wrapper:first-child .needs-item:nth-child(4) img {
            margin-left: 1px;
        }
        
        .needs-items-wrapper:first-child .needs-item:last-child img {
            margin-left: 2px;
        }
        
        .needs-items-wrapper:last-child .needs-item:first-child img {
            margin-left: -2px;
        }
        
        .needs-items-wrapper:last-child .needs-item:nth-child(3) img {
            margin-left: 1px;
        }
        
        .needs-items-wrapper:last-child .needs-item:last-child img {
            margin-left: 2px;
        }
        
        .needs-item-name {
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 115%;
            margin: 0;
            text-align: center;
            letter-spacing: 0.06em;
            color: #545454;
        }
        
        .hide {
            display: none;
        }
        
        .needs-items-wrapper:first-child .needs-item:nth-child(3) .needs-item-name {
            margin-left: 1px;
        }
        
        .needs-items-wrapper:last-child .needs-item:nth-child(3) .needs-item-name {
            width: 166px;
            position: absolute;
            top: 90px;
            left: 0px;
        }
        
        .needs-items-wrapper:last-child .needs-item:last-child .needs-item-name {
            width: 144px;
            position: absolute;
            top: 90px;
            left: 1px;
        }
        
        .needs-items-wrapper:first-child .needs-item:nth-child(4) .needs-item-name {
            width: 154px;
            position: absolute;
            top: 90px;
            left: 0px;
        }
        
        .needs-items-wrapper:first-child .needs-item:last-child .needs-item-name {
            position: absolute;
            top: 90px;
            left: 1px;
        }
        
        .inAddition-section {
            width: 100%;
            height: 464px;
            background-color: #F6F6F6;
            display: flex;
            justify-content: center;
        }
        
        .inAddition-article {
            width: 1200px;
            display: flex;
            justify-content: center;
            margin-top: 82px;
        }
        
        .inAddition-article>img {
            margin-right: 31px;
            margin-top: 10px;
        }
        
        .article-text-block {
            width: 380px;
        }
        
        .article-text-block-header {
            width: 84%;
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #545454;
            margin-bottom: 20px;
        }
        
        .article-description-block {
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 110%;
            letter-spacing: 0.06em;
            color: #545454;
            margin-bottom: 21px;
        }
        
        .donation-props {
            width: 349px;
            height: 43px;
            display: flex;
            align-items: center;
            background-color: #F1CDB3;
            border-radius: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            -ms-border-radius: 9px;
            -o-border-radius: 9px;
            margin-bottom: 20px;
        }
        
        .donation-props img {
            margin-left: 15px;
            margin-right: 15px;
        }
        
        .props-number {
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 115%;
            letter-spacing: 0.06em;
            color: #545454;
        }
        
        .props-number a {
            text-decoration: none;
            color: #545454;
        }
        
        .props-description {
            font-family: Arial;
            font-style: italic;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #B2B2B2;
        }
        
        .article-text-block>* {
            margin-left: -1px;
        }
        
        .forQuestions {
            width: 100%;
            height: 350px;
            background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
            background-image: url(assets/images/footer-background.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
        }
        
        .forQuestions-wrapper {
            width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .forQuestions-wrapper img {
            align-self: flex-end;
        }
        
        .forQuestions-list-wrapper {
            width: 278px;
            height: 234px;
            display: flex;
            flex-direction: column;
        }
        
        .forQuestions-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        
        .forQuestions-list-item {
            position: relative;
            list-style-type: none;
        }
        
        .list-item1 {
            margin-bottom: 49px;
            padding-left: 13px;
        }
        
        .list-item2 {
            padding-left: 13px;
        }
        
        .list-item3 {
            padding-left: 42px;
            margin-bottom: 38px;
        }
        
        .list-item4 {
            padding-left: 42px;
        }
        
        .list-item1:before {
            content: "";
            width: 40px;
            height: 32px;
            display: block;
            position: absolute;
            top: -2px;
            left: -47px;
            background: url(assets/icons/footer-icon-mail.png) no-repeat;
        }
        
        .list-item2:before {
            content: "";
            width: 40px;
            height: 32px;
            display: block;
            position: absolute;
            top: -5px;
            left: -47px;
            background: url(assets/icons/footer-icon-phone.png) no-repeat;
        }
        
        .list-item3:before {
            content: "";
            width: 22px;
            height: 32px;
            display: block;
            position: absolute;
            top: 7px;
            left: 0;
            background: url(assets/icons/footer-icon-marker.png) no-repeat;
        }
        
        .list-item4:before {
            content: "";
            width: 22px;
            height: 32px;
            display: block;
            position: absolute;
            top: -5px;
            left: 0;
            background: url(assets/icons/footer-icon-marker.png) no-repeat;
        }
        
        .forQuestions-list-item a {
            text-decoration: none;
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 115%;
            letter-spacing: 0.06em;
            color: #F1CDB3;
        }
        
        .forQuestions-list-header {
            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            margin-bottom: 5px;
        }
        
        .forQuestions-list-wrapper:first-child h2 {
            width: 279px;
        }
        
        .forQuestions-list-wrapper:last-of-type {
            width: 302px;
        }
        
        .forQuestions-list-wrapper .forQuestions-list-header {
            margin-top: 1px;
            margin-left: 1px;
        }
        
        .forQuestions-list-wrapper:first-child .forQuestions-list-header {
            margin-top: -1px;
            margin-bottom: 45px;
            margin-left: 0;
        }
        
        .forQuestions-list-wrapper:last-of-type .forQuestions-list-header {
            margin-bottom: 33px;
            margin-top: -1px;
        }
        
        .forQuestions-list-wrapper:first-child .forQuestions-list {
            padding-left: 47px;
        }
        
        .about-article-img-320 {
            display: none;
        }
        
        .switch-buttons-wrapper {
            display: none;
        }
        
        .forQuestions-img-320 {
            display: none;
        }
        
        .donation-dog-320 {
            display: none;
        }
        
        .active {
            display: flex;
        }
        
        @media screen and (max-width: 1296px) {
            .cozy-background {
                background-image: url(assets/images/header-background-768.png);
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 1165px;
                position: static;
            }
            .cozy-navigation {
                margin-top: 30px;
                width: 708px;
            }
            .cozy-text-block {
                margin-top: 61px;
                align-self: center;
                margin-left: 41px;
                height: auto;
                margin-bottom: 39px;
            }
            .cozy-text-description {
                margin-bottom: 42px;
            }
            .cozy-text-btn {
                margin-left: 126px;
            }
            .cozy-wrapper {
                width: 708px;
                flex-direction: column;
                /* align-items: center; */
            }
            .header-puppy {
                background-image: url(assets/images/header-puppy-768.png);
                width: 569px;
                height: 593px;
                position: static;
                margin-left: 139px;
            }
            .about-section {
                width: 100%;
                height: 1048px;
            }
            .about-article {
                width: 708px;
                height: auto;
                margin-top: 81px;
                flex-direction: column;
                align-items: center;
            }
            .about-article-text {
                order: -1;
                margin-bottom: 80px;
            }
            .about-article img {
                margin: 0;
            }
            .our-friends-section {
                width: 100%;
                height: 877px;
            }
            .our-friends-article {
                width: 708px;
            }
            .slider-item-wrapper {
                width: 580px;
            }
            .slider-item:last-child {
                display: none;
            }
            .slider-item:first-child>img {
                margin-top: 1px;
            }
            .slider-item:first-child>h3 {
                margin-top: 29px;
            }
            .slider-item-header {
                margin-bottom: 31px;
            }
            .slider-item-btn {
                line-height: 281%;
            }
            .help-section {
                width: 100%;
                height: 779px;
                display: none;
            }
            .hide {
                display: flex;
            }
            .help-article {
                width: 708px;
                height: auto;
            }
            .help-article-needs {
                width: 630px;
                height: 449px;
                display: none;
            }
            .needs-items-wrapper:last-child {
                width: 84%;
                height: 458px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-self: flex-start;
                position: relative;
            }
            .needs-items-wrapper .needs-item:first-child {
                position: relative;
                top: 0;
                right: -44px;
            }
            .needs-items-wrapper .needs-item:nth-child(2) {
                position: relative;
                top: 0;
                right: -134px;
            }
            .needs-items-wrapper .needs-item:nth-child(3) {
                position: relative;
                top: 0;
                right: -182px;
            }
            .needs-items-wrapper .needs-item:nth-child(4) {
                position: relative;
                top: 16px;
                right: -8px;
            }
            .needs-items-wrapper .needs-item:nth-child(5) {
                position: relative;
                top: 15px;
                right: -61px;
            }
            .needs-items-wrapper .needs-item:nth-child(6) {
                position: relative;
                top: 15px;
                right: -146px;
            }
            .needs-items-wrapper .needs-item:nth-child(7) {
                position: relative;
                top: 31px;
                right: -35px;
            }
            .needs-items-wrapper .needs-item:nth-child(8) {
                position: relative;
                top: 30px;
                right: -114px;
            }
            .needs-items-wrapper .needs-item:last-child {
                position: relative;
                top: 31px;
                right: -171px;
            }
            .help-article-needs-hidden-768 {
                display: flex;
            }
            .inAddition-section {
                width: 100%;
                height: 783px;
            }
            .inAddition-article {
                width: 708px;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
            .article-text-block {
                order: -1;
                margin-top: 1px;
                margin-left: 2px;
            }
            .inAddition-article>img {
                margin: 0;
                margin-top: 61px;
            }
            .article-text-block-header {
                margin-bottom: 18px;
            }
            .donation-props {
                margin-bottom: 21px;
            }
            .article-description-block {
                margin-bottom: 20px;
            }
            .forQuestions {
                background-image: url(assets/images/footer-background-768.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 639px;
            }
            .forQuestions-wrapper {
                width: 708px;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .forQuestions-wrapper img {
                margin-left: -1px;
            }
            .forQuestions-list-wrapper:first-child {
                margin-top: 10px;
                margin-left: 3px;
            }
            .forQuestions-list-wrapper:last-of-type .forQuestions-list-header {
                margin-bottom: 33px;
                margin-top: 4px;
                margin-left: -2px;
            }
            .forQuestions-list-wrapper:last-of-type .forQuestions-list {
                margin-left: -3px;
            }
            .list-item3 {
                margin-bottom: 39px;
            }
        }
        
        @media screen and (max-width: 724px) {
            body {
                overflow-x: hidden;
            }
            .cozy-background {
                background-image: url(assets/images/header-background-320.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 320px;
                width: 100%;
                height: 823px;
                position: static;
            }
            .cozy-navigation {
                width: 300px;
                justify-content: flex-start;
            }
            .logo-text {
                margin-top: 0;
            }
            .cozy-nav-list {
                display: none;
            }
            .burger {
                width: 320px;
                height: 823px;
                background: #292929;
                position: absolute;
                top: -30px;
                display: block;
                z-index: -1;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -ms-transition: all 0.2s;
                -o-transition: all 0.2s;
            }
            .burger-active {
                /*width: 20px;
                */
                display: block;
                right: -10px;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -ms-transition: all 0.2s;
                -o-transition: all 0.2s;
            }
            .burger-inactive {
                /*display: none;
                */
                /*right: -10px;
                */
                transition: all 0.2s;
                right: -620px;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -ms-transition: all 0.2s;
                -o-transition: all 0.2s;
            }
            .overlay {
                position: fixed;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 1;
            }
            .overlay-inactive {
                display: none;
            }
            .burger .cozy-nav-list {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 248px;
            }
            .burger .cozy-nav-item {
                margin-bottom: 40px;
            }
            .burger .cozy-nav-item a {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 160%;
            }
            .burger-menu {
                width: 30px;
                height: 25px;
                /*background-color: #F1CDB3;
                */
                border-top: 3px solid #F1CDB3;
                position: relative;
                cursor: pointer;
                margin-top: 19px;
                margin-left: 41px;
            }
            .burger-menu-active {
                transition: transform .5s;
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -webkit-transition: transform .5s;
                -moz-transition: transform .5s;
                -ms-transition: transform .5s;
                -o-transition: transform .5s;
            }
            .burger-menu-inactive {
                transition: transform .5s;
                transform: rotate(0);
                -webkit-transform: rotate(0);
                -moz-transform: rotate(0);
                -ms-transform: rotate(0);
                -o-transform: rotate(0);
                -webkit-transition: transform .5s;
                -moz-transition: transform .5s;
                -ms-transition: transform .5s;
                -o-transition: transform .5s;
            }
            .burger-menu:before {
                content: "";
                display: block;
                width: 30px;
                height: 3px;
                position: absolute;
                top: 10px;
                background-color: #F1CDB3;
            }
            .burger-menu:after {
                content: "";
                display: block;
                width: 30px;
                height: 3px;
                position: absolute;
                top: 22px;
                background-color: #F1CDB3;
            }
            .cozy-wrapper {
                width: 300px;
            }
            .cozy-text-block {
                margin: 0;
                width: 300px;
                margin: 60px auto;
            }
            .cozy-text-header {
                width: 263px;
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 130%;
                text-align: center;
                letter-spacing: 0.06em;
                margin-left: 19px;
            }
            .cozy-text-description {
                width: 300px;
                margin-bottom: 41px;
                text-align: center;
            }
            .cozy-text-btn {
                margin-left: 46px;
            }
            .header-puppy {
                background-image: url(assets/images/header-puppy-320.png);
                width: 260px;
                height: 271.77px;
                position: static;
                margin-left: 40px;
                margin-top: 46px;
            }
            .about-section {
                width: 100%;
                height: 974px;
            }
            .about-article {
                width: 300px;
                height: auto;
                margin-top: 43px;
                flex-direction: column;
                align-items: center;
            }
            .about-article-text {
                width: 300px;
                order: -1;
                margin-bottom: 40px;
            }
            .about-article-img {
                display: none;
            }
            .about-article-img-320 {
                display: block;
            }
            .article-text-header {
                width: 293px;
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 130%;
                text-align: center;
                letter-spacing: 0.06em;
                margin-left: 4px;
            }
            .article-text-description {
                margin-left: 15px;
                width: 270px;
                text-align: justify;
            }
            .text1 {
                margin-bottom: 23px;
            }
            .our-friends-section {
                width: 100%;
                height: 791px;
            }
            .our-friends-article {
                width: 300px;
                height: auto;
                margin-top: 40px;
            }
            .slider-item:last-child,
            .slider-item:nth-child(2) {
                display: none;
            }
            .switch {
                display: none;
            }
            .slider-item-wrapper {
                width: 300px;
                justify-content: center;
                margin-bottom: 21px;
            }
            .slider {
                justify-content: flex-start;
                flex-direction: column;
                align-items: center;
                margin-bottom: 116px;
            }
            .our-friends-article-header {
                width: 300px;
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 130%;
                text-align: center;
                letter-spacing: 0.06em;
                margin-bottom: 43px;
            }
            .switch-buttons-wrapper {
                width: 61%;
                display: flex;
                justify-content: space-between;
            }
            .switch-320 {
                display: block;
            }
            .help-section {
                width: 100%;
                height: 745px;
                display: flex;
            }
            .help-article {
                width: 300px;
                height: auto;
                margin-top: 41px;
            }
            .help-article-header {
                width: 271px;
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 130%;
                text-align: center;
                letter-spacing: 0.06em;
                margin-bottom: 43px;
            }
            .hide {
                display: none;
            }
            .help-article-needs {
                width: 290px;
                height: auto;
            }
            .needs-items-wrapper {
                flex-wrap: wrap;
            }
            .needs-items-wrapper:last-child {
                width: 100%;
                height: 599px;
                margin-left: -4px;
            }
            .needs-items-wrapper:first-child .needs-item:last-child .needs-item-name {
                position: absolute;
                top: 72px;
                left: 1px;
            }
            .needs-items-wrapper .needs-item:last-child {
                position: relative;
                top: 0;
                right: 0;
            }
            .item-wrapper:nth-child(3) .needs-item,
            .item-wrapper:nth-child(4) .needs-item {
                margin-top: -5px;
            }
            .item-wrapper:nth-child(5) .needs-item,
            .item-wrapper:nth-child(6) .needs-item {
                margin-top: -8px;
            }
            .item-wrapper:nth-child(7) .needs-item,
            .item-wrapper:nth-child(8) .needs-item {
                margin-top: -10px;
            }
            .item-wrapper:last-child .needs-item {
                margin-top: -13px;
            }
            .needs-item-name {
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 110%;
                text-align: center;
                letter-spacing: 0.06em;
            }
            .needs-item img {
                width: 50px;
                height: 50px;
            }
            .help-article-needs {
                display: none;
            }
            .help-article-needs-hidden-768 {
                display: flex;
            }
            .help-article-needs-hidden-768 .needs-item {
                position: static;
            }
            .item-wrapper {
                width: 130px;
                height: 87px;
            }
            .inAddition-section {
                width: 100%;
                height: 542.2px;
            }
            .inAddition-article {
                width: 300px;
                margin-top: 41px;
            }
            .donation-dog {
                display: none;
            }
            .article-text-block-header {
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 130%;
                text-align: center;
                letter-spacing: 0.06em;
                width: 229px;
                margin-bottom: 19px;
            }
            .article-text-block {
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .article-description-block {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 160%;
                letter-spacing: 0;
                margin-left: -3px;
            }
            .donation-props {
                width: 281px;
                margin-left: -3px;
                margin-bottom: 22px;
            }
            .props-description {
                width: 94%;
                font-family: Arial;
                font-style: italic;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                text-align: justify;
            }
            .props-number {
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 110%;
                letter-spacing: 0.06em;
            }
            .donation-dog-320 {
                display: block;
            }
            .inAddition-article>img {
                margin-top: 43px;
            }
            .forQuestions {
                width: 100%;
                height: 809px;
            }
            .forQuestions-wrapper {
                width: 300px;
            }
            .forQuestions-img {
                display: none;
            }
            .forQuestions-img-320 {
                display: block;
            }
            .forQuestions-list-header {
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 130%;
                text-align: center;
                letter-spacing: 0.06em;
            }
            .forQuestions-list-wrapper:first-child {
                margin-top: 23px;
                margin-left: 0px;
            }
            .forQuestions-list-wrapper:last-of-type .forQuestions-list-header {
                width: 294px;
                margin-left: 3px;
                margin-top: -4px;
            }
            .forQuestions-list-wrapper:first-child .forQuestions-list {
                padding-left: 60px;
            }
            .list-item2 {
                padding-left: 19px;
            }
            .list-item2:before {
                left: -41px;
            }
            .forQuestions-list-wrapper:last-of-type .forQuestions-list-header {
                margin-bottom: 40px;
            }
            .forQuestions-list-wrapper:last-of-type .forQuestions-list {
                margin-left: 0px;
            }
            .list-item3 {
                margin-bottom: 45px;
            }
            .list-item4:before {
                top: -3px;
            }
        }