body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

*,
*::before,
* ::after {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.vis-hidden {
    display: none;
}

.cozy-header {
    width: 1280px;
    width: 100%;
    height: 120px;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cozy-navigation {
    width: 1200px;
    height: 60px;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    /* margin-left: 15px;
    margin-right: 15px; */
}

.cozy-logo {
    width: 186px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-text {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 0;
    margin: 0;
    margin-top: 1px;
}

.logo-description {
    padding: 0;
    margin: 0;
    margin-left: 4px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}

.burger {
    display: none;
}

.cozy-nav-list {
    padding: 0;
    margin: 0;
    width: 443px;
    height: 27px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.cozy-nav-item {
    list-style-type: none;
}

.cozy-nav-item a:hover {
    color: #292929;
}

.cozy-nav-item:nth-child(2) {
    border-bottom: 3.5px solid #F1CDB3;
}


/* .cozy-nav-item:first-child a {
    color: #FAFAFA;
} */

.cozy-nav-item a {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    text-decoration: none;
    /* padding-bottom: 3px; */
}

.our-friends-section {
    width: 1280px;
    width: 100%;
    height: 1342px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
}

.our-friends-article {
    width: 1200px;
    height: 1162px;
    /* background-color: lightblue; */
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-friends-article-header {
    width: 400px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 1px;
    margin-left: 2px;
    margin-bottom: 45px;
}

.pets-block {
    width: 1200px;
    height: 930px;
    /* background-color: lightgreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    margin-top: -1px;
}

.pets-block-item {
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.pets-block-item:hover {
    cursor: pointer;
}

.pets-block-item:hover .pets-item-wrapper {
    background-color: #FFFFFF;
    transition: all 0.3s;
}

.pets-item-header {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 3px;
}

.pets-item-btn {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    outline: none;
    margin-left: 2px;
}

.pets-item-btn:hover {
    background-color: #FDDCC4;
    transition: all 0.3s;
}

.pets-item-wrapper {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switchers {
    width: 340px;
    height: 52px;
    /* background-color: lightgreen; */
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.switch,
.switch-num {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-num {
    background-color: #F1CDB3;
}

.marker,
.marker-num {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    margin-bottom: 3px;
}

.marker-num {
    font-weight: bold;
}

.switch:nth-child(2) .marker,
.switch:first-child .marker {
    color: #CDCDCD;
}

.switch:first-child,
.switch:nth-child(2) {
    border: 2px solid #CDCDCD;
}

.switch:nth-child(4):hover,
.switch:last-child:hover {
    background-color: #F1CDB3;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.forQuestions-footer {
    background-image: url(assets/images/footer-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1280px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.forQuestions-wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forQuestions-wrapper img {
    align-self: flex-end;
}

.forQuestions-list-wrapper {
    width: 278px;
    height: 234px;
    display: flex;
    flex-direction: column;
    margin-top: -4px;
}

.forQuestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.forQuestions-list-item {
    position: relative;
    list-style-type: none;
}

.list-item1 {
    margin-bottom: 49px;
    padding-left: 13px;
}

.list-item2 {
    padding-left: 13px;
}

.list-item3 {
    padding-left: 42px;
    margin-bottom: 38px;
}

.list-item4 {
    padding-left: 42px;
}

.list-item1:before {
    content: "";
    width: 40px;
    height: 32px;
    display: block;
    position: absolute;
    top: -2px;
    left: -47px;
    background: url(assets/icons/footer-icon-mail.png) no-repeat;
}

.list-item2:before {
    content: "";
    width: 40px;
    height: 32px;
    display: block;
    position: absolute;
    top: -5px;
    left: -47px;
    background: url(assets/icons/footer-icon-phone.png) no-repeat;
}

.list-item3:before {
    content: "";
    width: 22px;
    height: 32px;
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    background: url(assets/icons/footer-icon-marker.png) no-repeat;
}

.list-item4:before {
    content: "";
    width: 22px;
    height: 32px;
    display: block;
    position: absolute;
    top: -5px;
    left: 0;
    background: url(assets/icons/footer-icon-marker.png) no-repeat;
}

.forQuestions-list-item a {
    text-decoration: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.forQuestions-list-header {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.forQuestions-list-wrapper:first-child h2 {
    width: 279px;
}

.forQuestions-list-wrapper:last-of-type {
    width: 302px;
}

.forQuestions-list-wrapper .forQuestions-list-header {
    margin-top: 1px;
    margin-left: 1px;
}

.forQuestions-list-wrapper:first-child .forQuestions-list-header {
    margin-bottom: 44px;
    margin-left: 0;
}

.forQuestions-list-wrapper:last-of-type .forQuestions-list-header {
    margin-bottom: 32px;
}

.forQuestions-list-wrapper:first-child .forQuestions-list {
    padding-left: 47px;
}

.burger-menu {
    display: none;
}

.forQuestions-img-320 {
    display: none;
}

@media screen and (max-width: 1216px) {
    .cozy-navigation {
        width: 708px;
        /* margin-left: 15px;
        margin-right: 15px; */
    }
    .hidden {
        display: none;
    }
    .our-friends-section {
        height: 1733px;
    }
    .our-friends-article {
        width: 708px;
        height: auto;
    }
    .pets-block {
        width: 580px;
        height: auto;
        margin-bottom: 9px;
    }
    .our-friends-article-header {
        margin-bottom: 30px;
    }
    .pets-block-item {
        margin-bottom: 31px;
    }
    .pets-item-btn {
        margin-top: 2px;
    }
    .pets-block-item:nth-child(3),
    .pets-block-item:nth-child(4) {
        margin-top: -1px;
    }
    .pets-block-item:nth-child(3) .pets-item-btn,
    .pets-block-item:nth-child(4) .pets-item-btn {
        margin-top: 1px;
    }
    .forQuestions-footer {
        background-image: url(assets/images/footer-background-768.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 639px;
    }
    .forQuestions-wrapper {
        width: 708px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .forQuestions-wrapper img {
        margin-left: 2px;
    }
    .forQuestions-list-wrapper:first-child {
        margin-top: 8px;
        margin-left: 3px;
    }
    .forQuestions-list-wrapper {
        margin-top: 1px;
    }
    .forQuestions-list-wrapper:last-of-type .forQuestions-list-header {
        margin-bottom: 33px;
        margin-top: 4px;
        margin-left: -2px;
    }
    .forQuestions-list-wrapper:last-of-type .forQuestions-list {
        margin-left: -3px;
    }
    .list-item3 {
        margin-bottom: 39px;
    }
}

@media screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }
    .cozy-navigation {
        margin-top: -1px;
        width: 300px;
        justify-content: flex-start;
    }
    .cozy-nav-list {
        display: none;
    }
    .burger {
        width: 320px;
        height: 823px;
        background: #292929;
        position: absolute;
        top: -30px;
        display: block;
        z-index: -1;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
    }
    .burger-active {
        /*width: 20px;
        */
        display: block;
        right: -10px;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        z-index: 2;
    }
    .burger-inactive {
        /*display: none;
        */
        /*right: -10px;
        */
        transition: all 0.2s;
        right: -620px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
    }
    .overlay {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .overlay-inactive {
        display: none;
    }
    .burger .cozy-nav-list {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 248px;
    }
    .burger .cozy-nav-item {
        margin-bottom: 40px;
    }
    .burger .cozy-nav-item a {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 160%;
        color: #CDCDCD;
    }
    .burger .cozy-nav-item a:hover {
        color: #959595;
    }
    .burger-menu {
        display: block;
        width: 30px;
        height: 25px;
        /*background-color: #F1CDB3;
        */
        border-top: 3px solid #F1CDB3;
        position: relative;
        cursor: pointer;
        margin-top: 19px;
        margin-left: 41px;
    }
    .burger-menu-active {
        transition: transform .5s;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        -ms-transition: transform .5s;
        -o-transition: transform .5s;
        z-index: 3;
    }
    .burger-menu-inactive {
        transition: transform .5s;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        -ms-transition: transform .5s;
        -o-transition: transform .5s;
    }
    .burger-menu:before {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        position: absolute;
        top: 10px;
        background-color: #F1CDB3;
    }
    .burger-menu:after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        position: absolute;
        top: 22px;
        background-color: #F1CDB3;
    }
    .our-friends-article-header {
        width: 300px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        margin-bottom: 43px;
    }
    .our-friends-section {
        height: 1649px;
    }
    .our-friends-article {
        width: 300px;
        height: auto;
        margin-top: 41px;
    }
    .pets-block {
        width: 270px;
    }
    .hidden-320 {
        display: none;
    }
    .switchers {
        width: 300px;
        margin-top: 2px;
    }
    .forQuestions-footer {
        width: 100%;
        height: 809px;
    }
    .forQuestions-wrapper {
        width: 300px;
    }
    .forQuestions-img {
        display: none;
    }
    .forQuestions-img-320 {
        display: block;
        margin-left: -1px;
    }
    .forQuestions-list-header {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
    }
    .forQuestions-list-wrapper:first-child {
        margin-top: 23px;
        margin-left: 0px;
    }
    .forQuestions-list-wrapper:last-of-type .forQuestions-list-header {
        width: 294px;
        margin-left: 3px;
        margin-top: -4px;
    }
    .forQuestions-list-wrapper:first-child .forQuestions-list {
        padding-left: 60px;
    }
    .list-item2 {
        padding-left: 19px;
    }
    .list-item2:before {
        left: -41px;
    }
    .forQuestions-list-wrapper:last-of-type .forQuestions-list-header {
        margin-bottom: 40px;
    }
    .forQuestions-list-wrapper:last-of-type .forQuestions-list {
        margin-left: 0px;
    }
    .list-item3 {
        margin-bottom: 45px;
    }
    .list-item4:before {
        top: -3px;
    }
}